In [7]:
from dputils.scrape import Scraper, Tag

In [8]:

def get_data(query, page=1):
    url = f'https://www.amazon.in/s?k={query}&page={page}'
    scraper = Scraper(url)
    print(scraper.url)
    target = Tag(cls='s-main-slot s-result-list s-search-results sg-row')
    items = Tag(cls='sg-col-4-of-24 sg-col-4-of-12 s-result-item s-asin sg-col-4-of-16 sg-col s-widget-spacing-small sg-col-4-of-20')
    title = Tag('h2')
    price = Tag('span', cls='a-price-whole')
    rating =Tag('span', cls='a-size-base')
    oprice = Tag('span', cls='a-offscreen')
    brand = Tag('h5')
    out = scraper.get_all(target, items, 
                    title=title, price=price,
                    rating=rating, oprice=oprice,
                    brand=brand)
    return out

In [9]:
import pandas as pd
query = 'watch'
all_data = []
for i in range(1, 15):
    data = get_data(query, i)
    all_data.extend(data)
    print(f'Page {i} done')
df = pd.DataFrame(all_data).dropna(how='all')
df.to_csv('watches.csv', index=False)

https://www.amazon.in/s?k=watch&page=1
Page 1 done
https://www.amazon.in/s?k=watch&page=2
Page 2 done
https://www.amazon.in/s?k=watch&page=3
Page 3 done
https://www.amazon.in/s?k=watch&page=4
Page 4 done
https://www.amazon.in/s?k=watch&page=5
Page 5 done
https://www.amazon.in/s?k=watch&page=6
Page 6 done
https://www.amazon.in/s?k=watch&page=7
Page 7 done
https://www.amazon.in/s?k=watch&page=8
Page 8 done
https://www.amazon.in/s?k=watch&page=9
Page 9 done
https://www.amazon.in/s?k=watch&page=10
Page 10 done
https://www.amazon.in/s?k=watch&page=11
Page 11 done
https://www.amazon.in/s?k=watch&page=12
Page 12 done
https://www.amazon.in/s?k=watch&page=13
Page 13 done
https://www.amazon.in/s?k=watch&page=14
Page 14 done

In [10]:
df

,title,price,rating,oprice,brand
0,USM ID116 Smart Watch Smart Bracelet Fitness T...,329,4.3,₹329,USM
1,boAt Flash Edition Smart Watch with Activity T...,"1,199",4.0,"₹1,199",boAt
2,Noise ColorFit Pulse Grand Smart Watch with 1....,"1,299",4.0,"₹1,299",Noise
3,Krishna Analog Analog Watch - for Boys & Girls,119,5.0,₹119,Generic
4,boAt Xtend Smartwatch Batman Edition with Alex...,"1,299",4.2,"₹1,299",boAt
...,...,...,...,...,...
301,Casual Sport Digital Unisex LED Time Black Wri...,449,3.6,₹449,Shocknshop
302,Analog Blue Dial Men's Watch-NL1698SM02,"4,895",4.2,"₹4,895",Titan
303,Watch for Boys and Girl Spider Men Kids Light ...,None,3.8,None,Lionmati
304,Blue Dial Blue Case Leather Date and Time Watc...,329,3.4,₹329,Acnos
305,Analog Black Dial Men's Watch-MTP-VT01L-1BUDF ...,"2,405",4.3,"₹2,405",Casio